@import url(../fonts/font-awesome/font-awesome.css);
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
strong, b {
	font-weight: bold;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
body.print-body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
.print-body table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.print-cash {
	padding: 20px 10px;
	margin: 0 auto;
	width: 820px;
}
.table {
	margin: 20px 0;
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border: 1px solid #000000;
	padding: 0 0.1cm;
}
.table>thead>tr>th {
	text-align: center;
}
.table>tbody>tr>th,
.table>tfoot>tr>th {
	text-align: left;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th {
	font-weight: bold;
	padding: 0.2cm 0.1cm;
}
@media print {
	.print-cash {
		font-family: Arial, Helvetica, sans-serif;
		width: 27cm;
		font-size: 12pt;
		line-height: 18pt;
		size: 29.7cm 21cm;
		margin: 1cm 1.35cm;
		mso-page-orientation: landscape;
		mso-footer:f1;
	}
}