.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px 20px 12px 12px;
    border: 1px solid #dfdfdf;
    bottom: 12px;
    left: -150px;
    min-width: 300px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 148px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 148px;
    margin-left: -11px;
}

.ol-popup .title {
    font-weight: 500;
    margin: 0 0 12px;
}
.ol-popup p {
    margin: 0;
}
.ol-popup .ol-tool {
    margin-top: 12px;
    text-align: right;
}

.ol-popup-content {
    min-width: 170px;
    max-height: 200px;
    overflow-x: auto;
}

.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 12px;
    padding: 0 4px;
    color: #ababab;
    text-decoration: none;
}

.ol-popup-closer:after {
    content: "\2716";
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}
